.modal-contents {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.tile {
  width: 50%;
  padding-bottom: 50%;
}

.tile-contents {
  position: absolute;
  padding: 12px;
  width: 46%;
}

.article-image {
  position: absolute;
  padding: 12px;
  max-width: 46%;
  max-height: calc(100vw * 0.4);
}


